.navigation{
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.a{
    border: 1px solid black;
}
#middle{
    height: 500px;
    margin-top: 50px;
}
.search{
    width: 520px;
    height: 35px;
}
.link-white a{
    color: white;
}
.link-black a{
    color: black;
}
.table-modify{
    text-align: center;
    margin-top: 20px;
}
.img{
    text-align: center;
}
.ul-modify{

}
.li-modify{
    text-align: center;
    line-height: 50px;
    width: 60px;
    font-size: 16px;
}
.panel-body {padding:0px;}
.panel-body table tr td {padding-left: 15px}
.panel-body .table {margin-bottom: 0px;}
div.panel{margin-bottom: 30px;}
h1.title{margin-bottom: 20px;}